.DS_Store

# Backup files
*#
*.
*.elc
*~
.#*

# Packages and subfolders
elpa/
elfeed*
emojis/
history
org-gcal/
persist/
request/
transient/
var/

# Secrets
secrets.el
custom.el

# Temporary files
.org-*
config.el
ac-comphist.dat
auto-save-last/
bookmarks
eshell
games
idlwave
ido.last
network-security.data
nov-places
org-roam.db
projectile-bookmarks.eld
recentf
tramp
url