.DS_Store

# Backup files
*#
*.
*.elc
*~
.#*
.cache/
backup/

# Packages and subfolders
eln-cache/
elpa/
tree-sitter/
elfeed*
emojis/
history
persist/
request/
transient/
var/

# Secrets
secrets.el
custom.el

# Temporary files
.lsp-*
.org-*
config.el
ac-comphist.dat
amx-items
auto-save-last/
bookmarks
eshell
games
idlwave
ido.last
network-security.data
nov-places
org-roam.db
pomm
projectile-bookmarks.eld
projectile-frecency.eld
projects
recentf
tramp
url
