.DS_Store

# Backup files
*#
*.
*.elc
*~
.#*

# Packages
elpa/
var/

# Secrets
secrets.el

# Temporary files
ac-comphist.dat
auto-save-last/
eshell/
games/
idlwave/
ido.last
projectile-bookmarks.eld
tramp
url